.tracfficTop {
  background-color: black;
  width: 10px;
  height: 70px;
  margin-left: 82px;
}
.lightbox {
  background-color: black;
  width: 67px;
  height: 178px;
  margin-left: 600px;
  padding: 9px;
  border-radius: 10px;
}
.red {
  background-color: red;
  width: 3rem;
  height: 3rem;
  margin: auto;
  border-radius: 80%;
}
.redlit {
  background-color: red;
  width: 3rem;
  height: 3rem;
  margin: auto;
  border-radius: 80%;
}
.yellow {
  background-color: yellow;
  width: 3rem;
  height: 3rem;
  margin: auto;
  border-radius: 80%;
}
.yellowlite {
  background-color: red;
  width: 3rem;
  height: 3rem;
  margin: auto;
  border-radius: 80%;
}
.green {
  background-color: rgb(0, 255, 21);
  width: 3rem;
  height: 3rem;
  margin: auto;
  border-radius: 80%;
}
.greenlite {
  background-color: red;
  width: 3rem;
  height: 3rem;
  margin: auto;
  border-radius: 80%;
}
